@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.containerRegistro{
    height: 100vh;
    background-color: #ffffff;
}
.containerRegistro:first-child{
    padding: 2rem; 
  }
#title{
    font-family: 'Arial';
  
}

.btn-dark{
    font-family: 'PT Sans', sans-serif;
}
