@import "login.css";

* {
  padding: 0; 
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ****************** HEADER ****************** */
header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.containerLogo {
  width: 10%;
}
.containerLogo > img {
  width: 100%;
}
header li {
  color: black;
}
/* ****************** COMIENZA MAIN ****************** */
p {
  color: #000000;
  font-size: medium;
}

.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

h4 {
  color: blue;
}

.login-carrito {
  color: black;
}

.card {
  align-items: center;
  justify-content: space-between;
}
.card-text {
  font-size: 0.9rem;
}
.card > img {
  height: 20rem;
}
